# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/
__pycache__

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Support for Project snippet scope
!.vscode/*.code-snippets

# Misc
.ruff_cache
skybox.csv
prime.csv
.env
monitor.log

#DB
users.db
